[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "*"
requests = "*"
notebook = "*"
altair = "*"
pandas = "*"
ipython = "*"
polars = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
