services:
  crawler:
    build:
      context: ..
      dockerfile: crawler/Dockerfile

    volumes:
      - .:/data

    command: ["python", "fetch_stats.py", "-f", "/data/ci-stats.duckdb", "--prometheus-host", "http://172.17.0.1:9090"]
    
      